
.cardset {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 0.5rem;
    padding: 2rem;
    flex-direction:column;

}


.card {
    grid-column: span 4;
    display: grid;
    border: 1px solid rgb(198, 198, 232);
    border-radius: 1rem;
    padding: 1rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} 

.card_title {
    text-align: center;
    padding-top: 1rem;
}

.photo{
    grid-column: 1/ -1;
    display: flex;
    width: 220px;
    height: 300px; 
    margin: 0 auto;
    padding:1rem;
    align-items: center;
    position: relative;
}

h2{
    font-weight: bold;
    padding:1rem;
    margin:0;
}

.card_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    padding-left: 5rem;
}

p {
    line-height: 1.5;
    font-size: 1.5rem;
    padding:0.5rem;
}

