
.dialog {
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: hsl(34 69% 90%) ;
    border-radius: 0.5rem;
    border: 1px solid hsl(32, 47%, 79%);
    padding: 1rem;
    font-size: 1.2rem;
    font-weight:bold;
    align-items: center;
    justify-content: center;
}

.form-title{
    text-align: center;
}

.dialog-logo{
    width:40rem;
    height:auto;
}

.dialog input {
    display: block;
    padding: 0.5rem;
    border-radius: 1rem;
    border: 1px solid #ccc;
    width: 90%; 
    margin-bottom:0.5rem;
   
}

span{
    padding-left: 0.5rem
}

label {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.buttons{
    display: flex;
    justify-content: space-around;  
    margin:0.5rem;

}

.submitButton{
    font-size: 1.2rem;
    font-weight:bold;
    padding: 0.5rem ;
    border-radius: 0.5rem;
    border: 1px solid #ccc;
    background-color:#E6E6E6;
    color:#333333;
    
    background-color:#7fe48c;
}

.submitButton:hover {
    background-color: #99efb7;
}
.cancelButton:hover {
    background-color: #CCCCCC;
}

.email-error, .confirm-error{
    color:red;
}

