header {  
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    padding: 0;
    margin: 0;
    background: hsl(43 58% 78%) ;
    color:  hsl(34 80% 31%);
    text-align: center;
}

.header_title{
    font-family: 'Arvo', serif;
    font-weight: bold;
    font-size: 3rem;
}


.logo {
    margin: auto;
    display: block;
    width: 8rem;
    height: auto;
    padding-left:1rem;
}



