body {
    grid-template-rows: auto 1fr auto;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


header {  
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    padding: 0;
    margin: 0;
    background-image: linear-gradient(to right, #3498DB, #27AE60);
    color: #fff;
    text-align: center;
}

main{
    flex: 1;
}

.logo {
    margin: auto;
    display: block;
    width: 8rem;
    height: auto;
}


.header_title {
    text-align: center; 
}

footer {
    background-image: linear-gradient(to right, #3498DB, #27AE60);
    color: #fff;
    padding: 1rem;
    text-align: center;
}